<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="API_Example.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <applicationSettings>
    <API_Example.Properties.Settings>
      <setting name="API_Example_mindbodyonline_api_classservice_Class_x0020_Service"
        serializeAs="String">
        <value>http://api.mindbodyonline.com/0_5/ClassService.asmx</value>
      </setting>
      <setting name="API_Example_mindbodyonline_api_clientservice_Client_x0020_Service"
        serializeAs="String">
        <value>http://api.mindbodyonline.com/0_5/ClientService.asmx</value>
      </setting>
      <setting name="API_Example_mindbodyonline_api_appointmentservice_Appointment_x0020_Service"
        serializeAs="String">
        <value>http://api.mindbodyonline.com/0_5/AppointmentService.asmx</value>
      </setting>
      <setting name="API_Example_mindbodyonline_api_finderservice_Finder_x0020_Service"
        serializeAs="String">
        <value>http://api.mindbodyonline.com/0_5/FinderService.asmx</value>
      </setting>
      <setting name="API_Example_mindbodyonline_api_dataservice_Data_x0020_Service"
        serializeAs="String">
        <value>http://api.mindbodyonline.com/0_5/DataService.asmx</value>
      </setting>
      <setting name="API_Example_mindbodyonline_api_saleservice_Sale_x0020_Service"
        serializeAs="String">
        <value>http://api.mindbodyonline.com/0_5/SaleService.asmx</value>
      </setting>
      <setting name="API_Example_mindbodyonline_api_siteservice_Site_x0020_Service"
        serializeAs="String">
        <value>http://api.mindbodyonline.com/0_5/SiteService.asmx</value>
      </setting>
      <setting name="API_Example_mindbodyonline_api_staffservice_Staff_x0020_Service"
        serializeAs="String">
        <value>http://api.mindbodyonline.com/0_5/StaffService.asmx</value>
      </setting>
    </API_Example.Properties.Settings>
  </applicationSettings>
</configuration>
